.CreditBox {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 2rem;
  gap: 1rem;

  &__director,
  &__cast {
    flex: 1;
  }

  &__title {
    margin-bottom: 0.5rem;
    font-size: 1.1rem;
    font-weight: 600;
  }

  &__names {
    font-size: 0.9rem;
    font-weight: 200;
    letter-spacing: 0px;
    line-height: 1.5;
  }
}
