.container {
  display: flex;
  width: 100%;
  flex-direction: column;
  margin: 2rem 0;
}

.label {
  position: relative;
  background-color: transparent;
  cursor: text;
  font-size: 0.85rem;
  font-weight: 300;
  transform-origin: left;
  transition: all 0.1s linear;
}

.input {
  width: 100%;
  padding: 1rem;
  padding-left: 1rem;
  border: none;
  border-radius: 2px;
  background-color: var(--surface-700);
  color: var(--on-surface-100);
  font-size: 1rem;
  outline: none;
}
