@import '../../styles/variable';
@import '../../styles/mixins';

.container {
  width: 100%;
  max-width: 600px;
  height: fit-content;
  padding-top: 3rem;
  margin: 0 auto;
}

.title {
  margin: 2rem 0;
  font-size: 2rem;
  font-weight: 700;
  text-align: center;
}

.subtitle {
  margin-bottom: 4rem;
  font-size: 1rem;
  font-weight: 300;
  text-align: center;
}

.button {
  padding: 10px 30px;
  border: 0;
  border-radius: 4px;
  margin-top: 25px;
  background-color: var(--primary);
  cursor: pointer;
  @include blackShadow;

  p {
    color: whitesmoke;
    font-weight: 700;
  }
}

.loader {
  display: flex;
  height: 200px;
  align-items: center;
  justify-content: center;

  div {
    @include spin;
  }
}
