@import '../../styles/responsive';
@import '../../styles/variable';
@import '../../styles/mixins';

.acordeon {
  position: relative;
  width: 100%;
  padding: 4rem 0;
  margin-bottom: 4rem;
  transform-origin: center;
  @include fadeIn(0.4s);

  @include respond(tablet) {
    display: none;
  }
}

.container {
  position: relative;
  display: flex;
  height: 100%;
  align-items: center;
  margin: 0 auto;
  margin-top: 4rem;
  perspective: 1200px;
}

.inner {
  position: relative;
  display: flex;
  width: 100%;
  height: fit-content;
  align-items: center;
  justify-content: space-between;
  color: #ffffff;
  transform: translateX(0);
  transform-style: preserve-3d;
  transition: transform 0.3s ease;
}

.arrow {
  position: absolute;
  z-index: 999999999;
  top: 50%;
  display: flex;
  height: fit-content;
  border: none;
  background-color: transparent;
  cursor: pointer;
  font-size: 3rem;
  transform: translateY(-50%);

  svg {
    color: var(--primary);
  }

  &.previous {
    left: 0rem;
  }

  &.next {
    right: 0rem;
  }
}
