@import '../../styles/variable';
@import '../../styles/mixins';

.CommentBox {
  width: 100%;
  max-width: 700px;
  padding: 1rem;
  border-radius: 8px;
  margin-bottom: 1rem;
  background-color: var(--surface-100);
  @include blackShadow;

  &__name {
    display: flex;
    align-items: center;
    gap: 5px;

    p {
      font-size: 16px;
      font-weight: 600;
    }
  }

  &__date {
    font-size: 12px;
    opacity: 0.6;
  }

  &__content {
    padding: 1rem 0rem;
    font-size: 14px;
  }
}
