@import '../../../styles/mixins';
@import '../../../styles/variable';

.indicators {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}

.indicator {
  display: flex;
  width: 0.8rem;
  height: 0.8rem;
  align-items: center;
  justify-content: center;
  border: none;
  border-radius: 50%;
  margin: 0 4px;
  background-color: var(--primary);
  cursor: pointer;
  opacity: 0.2;
  transition: 0.2s linear;

  &.active {
    width: 2rem;
    border-radius: 1rem;
    background-color: var(--primary);
    opacity: 1;
  }
}
