@import '../../styles/variable';
@import '../../styles/mixins';
@import '../../styles/responsive';

.slide {
  position: relative;
  width: 100%;
  height: calc(100vh - 70px);

  @include respond(tablet) {
    height: 100%;
    max-height: calc(100vh - 70px - 50px);
  }
}
